<!DOCTYPE html>
<html>
  <head>
    <title>Cc</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <style>

      #sidebar {
        font-family: "Poppins", sans-serif;
        color:#ffffff;
      }
      .w3-main {
        font-family: "Poppins", sans-serif;
      }
      .navy {background-color:#003278!important}
      .font-navy {color:#003278!important}
      .font-white {color:#ffffff!important}
      .white {background-color:#ffffff!important}
      .material-icons {vertical-align:-14%;}
      body {font-size:16px;}
      #account-actions {
        display: none;
        width: 80%;
      }
      .bar {
        padding: 0px;
        height: 61px;
      }
      .title {
        position: relative;
        bottom: 15px;
      }
      .options {
        position: relative;
        top: 3px;
        float: right;
      }
      a {
        text-decoration: none;
      }
      .show-link:hover {
        text-decoration: underline;
      }
      .active {
        text-decoration: underline;
      }
      .headline {
        position: relative;
        top: 3px;
      }
      .icon {
        position: relative;
        left: -58px;
        top: -7px;
      }
      .icon-image {
        position: relative;
        left: -61px;
        top: -2px;
      }
    </style>


  </head>

  <body>



  <nav style="z-index:3;width:300px;font-weight:bold;" class="w3-sidebar w3-collapse w3-padding w3-top navy w3-bar-block" id='sidebar'>
    <%= link_to '/dashboard' do %>
      <h1 class='w3-padding-32 w3-xxlarge'>
        <br><b>Cross</b> <br><b>Country</b></b>
      </h1>
    <% end %>
    <% if current_user %>
        <div class='w3-bar-item'>
          <div class="w3-large"><%= current_user.email %>  <i id='expand' class="w3-hover-white material-icons w3-large">expand_more</i></div>
          <div style="display: none;" id='account-actions' class='w3-padding w3-margin w3-center w3-border w3-round w3-btn w3-white'><%= link_to 'Logout', logout_path, method: 'delete' %></div>
        </div>
    <% end %>
        <div>
          <%= nav_link 'Dashboard', dashboard_url %>
          <%= nav_link 'Meets', meets_url %>
          <%= nav_link 'WODs', wods_url %>
          <%= nav_link 'Athletes', athletes_url %>
          <%= nav_link 'Notices', notices_url %>
        </div>
      </nav>

  <!-- Top menu on small screens -->
  <header class="w3-container w3-top w3-hide-large navy w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-text-white w3-margin-right" onclick="w3_open()">☰</a>
    <span class='headline w3-text-white'>Cross Country</span>
  </header>

  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="overlay"></div>
<br>
  <div class="w3-main" style="margin-left:340px;margin-right:40px">
      <%= yield %>
  </div>

  </body>


  <script>
      $(document).ready(function(){
          $("#expand").click(function(){
              $("#account-actions").toggle();
          });
      });

      function w3_open() {
          document.getElementById("sidebar").style.display = "block";
          document.getElementById("overlay").style.display = "block";
      }

      function w3_close() {
          document.getElementById("sidebar").style.display = "none";
          document.getElementById("overlay").style.display = "none";
      }
  </script>


</html>
